/*Importei a fonte Poppins do google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Seletor universal - coloquei a minha fonte padrão*/
* {
    font-family: "Poppins", sans-serif;
    /*fonte padrão*/
    margin: 0;
    /*remove a margem externa*/
    padding: 0;
    /*remove o preenchimento interno*/
    box-sizing: border-box;
    /*para o padding e a borda não aumentar*/
}

/*Corpo da minha página*/
body {
    display: flex;
    /*centralizar o meu conteúdo*/
    align-items: center;
    /*Centralizar os meus itens verticalmente*/
    justify-content: center;
    /*Centralizar os meus itens horizontalmente*/
    width: 100%;
    /*Definição da largura*/
    min-height: 100vh;
    /* Uso de 100vh para que ocupe a altura total da viewport */
    /*Definição da altura*/
    background-color: #18181b;
    /*Cor de fundo*/

}

/*Conteiner principal (imagem e calculadora*/
#container {
    display: flex;
    /*centralizar o meu conteúdo*/
    align-items: center;
    /*Centralizar os meus itens verticalmente*/
    gap: 1rem;
    /*Espaço entre a imagem e a calculadora*/
    max-width: 1200px;
    /*  Define uma largura máxima para o layout principal */
    width: 90%;
    /*  Garante que ocupe 90% da tela em larguras abaixo de 1200px */
}

/*Imagem ilustração*/
#img img {
    width: 700px;
    /*Definição da largura da imagem*/

}

/*Elementos principais da calculadora e formulario*/
#calculadora {
    display: flex;
    /*Organizar os elementos verticalmente*/
    flex-direction: column;
    /*Define a direção vertical para os itens filhos*/
    gap: 0.5rem;
    /*Espaço etre os elementos filhos*/
    padding: 1.5rem;
    /*Preenchimento interno*/
    color: #f8fafc;
    /*Cor do meu texto*/
    background-color: #262626;
    /*Cor do fundo (um pouco mais clara)*/
    border-radius: 8px;
    /*Arrendondar os cantos*/

}

/*Formulario*/
#form {
    display: flex;
    /*Organiza os campos do formulario na vertical*/
    flex-direction: column;
    /**/
    gap: 0.5rem;
    /*Espaço etre os elementos filhos*/
}

/*Meu titulo*/
#titulo {
    font-size: 1.30rem;
    /*Tamanho da fonte*/
    position: relative;
    /*Posicionar o pseudo-elemento ::after*/
}

/*Pseudo-elemento*/
#titulo::after {
    position: relative;
    /**/
    content: '';
    /*Para que o pseudo-elemento seja visível*/
    background-color: #16b863;
    /*Cor de Fundo*/
    width: 8rem;
    /* Largura da linha */
    height: 3px;
    /* Altura da linha */
    bottom: 0;
    /*Posição (parte de baixo - esquerdar)*/
    left: 0;
    border-radius: 3px;
    /* Cantos arredondados para a linha */
    display: block;
    /* garantir que a linha apareça*/
}

/*Label - campos de entrada*/
.input-box label {
    font-size: 1.1rem;
    /* Tamanho da fonte. */
    color: #cbd5e1;
    /*Cor do texto*/
    font-weight: 300;
    /*Espessura da fonte*/
}

/*contêiner dos campos de entrada*/
.input-field {
    display: flex;
    /*linhar ícone, span e input*/
    align-items: center;
    /*Centralizar os meus itens verticalmente*/
    justify-content: space-between;
    /*Distribui o espaço entre os elementos*/
    background-color: #3f3f46;
    /*Cor de fundo*/
    padding: 0.1rem;
    /*Preenchimento interno pequeno*/
    margin-top: 0.5px;
    /*Pequena margem superior*/
}

/*ícone e o texto de unidade (span) dentro do campo de entrada*/
.input-field span,
.input-field i {
    color: #cbd5e1;
    /*Cor do ícone/texto de unidade*/
    font-size: 1.1rem;
    /*Tamanho da fonte*/
    padding: 0.6rem 1rem;
    /*Preenchimento interno para aumentar a área de clique e visualização*/
}

/*elemento de entrada (input) dentro do campo*/
.input-field input {
    background-color: transparent;
    /*Fundo transparente para que o background do .input-field apareça*/
    border: none;
    /*Remove a borda padrão*/
    width: 100%;
    /*Ocupa toda a largura disponível*/
    font-size: 1.1rem;
    /*Tamanho da fonte*/
    color: #f8fafc;
    /*Cor do texto digitado*/
    padding: 0 o.5rem;
    /*Preenchimento interno*/
}

/*Remove as setas padrão*/
.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
    /**/
}

.input-field input:focus {
    outline: none;
    /*Remove a outline (contorno de foco)*/
}

/*Botão de calculo*/
#calcular button {
    width: 100%;
    /*Ocupa a largura do meu contêiner */
    border: none;
    /*Remover borda*/
    padding: 0.50rem 1.15rem;
    /* Preenchimento para altura e largura do meu botão*/
    font-size: 1.20rem;
    /**/
    font-weight: bold;
    /**/
    background-color: #16b863;
    /**/
    color: #18181b;
    /* Cor do texto para contraste */
    text-align: center;
    /**/
    cursor: pointer;
    /* Indica que é clicável */
    border-radius: 6px;
    /* Para harmonizar com outros elementos */
    transition: background-color 0.3s ease;
    /* Efeito de transição suave */
}

/*Efeito ao passar o mouse - Botão de calculo*/
#calcular button:hover {
    background-color: #128e4e;
    /* Altera a cor ao passar o mouse (mais escura)*/
}

/*Tabela e melhor plano*/
.output-section {
    margin-top: 0.5rem;
    /**/
    padding-top: 0.5rem;
    /**/
    border-top: 1px solid #3f3f46;
    /* Linha divisória sutil */
}

/*Titulos*/
.output-section h2,
.output-section h3 {
    color: #16b863;
    /* Cor de destaque verde */
    margin-bottom: 0.5rem;
    /**/
    font-size: 1.30rem;
}

/*Tabela de preços*/
#tabela-precos {
    width: 100%;
    /**/
    border-collapse: collapse;
    /* Tira o espaço entre as células */
    margin-top: 0.5rem;
    /**/
}

/*células do cabeçalho (th) e do corpo (td) da tabela*/
#tabela-precos th,
#tabela-precos td {
    border: 1px solid #3f3f46;
    /* Borda da célula na cor escura */
    padding: 5px;
    /**/
    text-align: left;
    /**/
}

/*Especificação de estilo para o cabeçalho da tabela*/
#tabela-precos thead th {
    background-color: #3f3f46;
    /* Fundo do cabeçalho escuro */
    color: #f8fafc;
    /**/
    font-weight: 600;
    /**/
}

/*Seçao de destaque do melhor plano*/
#plano-vantajoso {
    margin-top: 0.5rem;
    /**/
    padding: 5px;
    /**/
    background-color: #3f3f46;
    /* Fundo para destacar o melhor plano */
    border-radius: 6px;

    /**/
}

/*título da seção de plano vantajoso*/
#plano-vantajoso h3 {
    color: #f8fafc;
    /**/
    font-size: 1.20rem;
    /**/
}

/**/
#plano-vantajoso span {
    color: #16b863;
    /* Destaca os valores com a cor principal */
    font-weight: 700;
    /**/
}

/* RESPONSIVIDADE  */
@media (max-width: 1024px) {
    #container {
        flex-direction: column;
        gap: 2rem;
        width: 90%;
        /* Garantindo que ocupe 90% */
        margin: 20px auto;
        /* Afasta o container das bordas da tela */
        padding: 1rem;
    }

    /* Ocultar ou diminuir a seção da imagem em telas menores para dar foco à calculadora */
    #img {

        display: none;
        /* Ocultar imagem totalmente em telas menores */
    }

    #img img {
        max-width: 80%;
        /* Ajustado para 80% */
        height: auto;
    }

    #calculadora {
        order: 2;
        width: 100%;
        /* Garante que a calculadora ocupe toda a largura do container */
        padding: 1.5rem;
    }

    #titulo {
        font-size: 1.6rem;
        /* Ajusta o tamanho da fonte para o novo layout */
        text-align: center;
        /* Centraliza o título */
    }

    /* Ajuste para centralizar o pseudo-elemento do título em telas menores */
    #titulo::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .output-section h2,
    .output-section h3 {
        text-align: center;
    }

    .output-section p {
        text-align: center;
    }
}